@import url('https://fonts.googleapis.com/css?family=Lato|Lobster');

@font-face {
	font-family: Raleway;
	src: url(fonts/Raleway-Light.ttf);
}

@font-face {
	font-family: Raleway-Regular;
	src: url(fonts/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway-Bold;
	src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
	font-family: ubuntu;
	src: url(fonts/Ubuntu.ttf);
}

@font-face {
	font-family: GothaProBol;
	src: url(fonts/GothaProBol.otf);
}

@font-face {
	font-family: Open Sans;
	src: url(fonts/open-sans.ttf);
}

body {
	background: linear-gradient(to top, #fff, #203747);
	overflow-x: hidden;
	-o-overflow-x: hidden;
	-ms-overflow-x: hidden;
	-moz-overflow-x: hidden;
	-webkit-overflow-x: hidden;
}

html {
	overflow-x: hidden;
	-o-overflow-x: hidden;
	-ms-overflow-x: hidden;
	-moz-overflow-x: hidden;
	-webkit-overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	height: 725px;
}

.header {
	width: 100%;
	height: 75px;
	line-height: 75px;
	background: #fff;
}

.top-text {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	font-size: 20px;
	color: #000;
	font-weight: lighter;
}

.bottom-text {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-between;
}

.imgs {
	padding: 20px 0;
}

.tt1 {
	color: #000;
	font-size: 20px;
	font-family: Open Sans;
}

b {
	font-weight: bold;
}

.smile1 {
	transition: 0.5s;
}

.smile2 {
	transition: 0.5s;
}

.light {
	font-weight: 100;
}

.easy {
	font-size: 20px;
	color: #fff;
	width: 750px;
	margin-top: 75px;
}

.easy-text {
	font-family: Open Sans;
}

.space::scrollbar { 
	width: 0;
	height: 0;
}

.space::-ms-scrollbar { 
	width: 0;
	height: 0;
}

.space::-moz-scrollbar { 
	width: 0;
	height: 0;
}

.space::-webkit-scrollbar { 
	width: 0;
	height: 0;
}

.phone {
	margin-top: 25px;
}

.iphone {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: center;
	width: 337px;
	height: 685px;
	background: url(images/phone.png);
}

.space {
	overflow: scroll;
	margin-top: 80px;
	margin-bottom: 80px;
	border: 1px #9d9d9d solid;
}

.display {
	width: 296px;
	height: 700px;
	background: #fff;
	position: relative;
}

.message {
	position: absolute;
	padding: 5px;
	border-radius: 9px;
	-o-border-radius: 9px;
    -ms-border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
	width: 250px;
	font-size: 16px;
	font-weight: lighter;
	transition: 0.25s;
	-o-transition: 0.25s;
    -ms-transition: 0.25s;
    -moz-transition: 0.25s;
    -webkit-transition: 0.25s;
}

.message:nth-child(1) {
	background: #f1f0f0;
	top: 0;
	left: 0;
}

.message:nth-child(2) {
	background: #0184ff;
	top: 130px;
	right: 0;
	color: #fff;
}
.message:nth-child(3) {
	background: #f1f0f0;
	top: 170px;
	left: 0;
}

.message:nth-child(4) {
	background: #0184ff;
	top: 290px;
	right: 0;
	color: #fff;
}

.message:nth-child(5) {
	background: #f1f0f0;
	top: 330px;
	left: 0;
}

.message:nth-child(6) {
	background: #f1f0f0;
	top: 465px;
	left: 0;
}
.message:nth-child(7) {
	background: #0184ff;
	top: 510px;
	right: 0;
	color: #fff;
}
.message:nth-child(8) {
	background: #f1f0f0;
	top: 600px;
	left: 0;
}

.btn-add {
	width: 325px;
	background: #f75858;
	border-radius: 7px;
	-o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
	padding: 15px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	margin-top: 50px;
	transition: 0.5s;
}

.btn-add:hover {
	background: #b00000;
}

.content .fa {
	color: #fff;
}

.fa-pencil-square-o {
	color: #455af0;
}
.fa-mouse-pointer {
	color: #455af0;
}
.fa-money {
	color: #455af0;
}
.fa-mortar-board {
	color: #455af0;
}
.fa-shopping-cart {
	color: #455af0;
}
.fa-buysellads {
	color: #455af0;
}
.fa-envelope {
	color: #455af0;
}

.fa-arrow-left {
	color: green;
}

.fa-arrow-right {
	color: green;
}

.average1 {
	height: 100px;
	background: linear-gradient(to top, #4d4d4d, #1a1a1a);
	-o-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
    -ms-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
    -moz-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
    -webkit-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
	z-index: -5;
}

.average2 {
	height: 150px;
	background: linear-gradient(to top, #fff, #4d4d4d);
	-o-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
	-ms-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
	-moz-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
	-webkit-background: linear-gradient(to top, #4d4d4d, #1a1a1a);
	z-index: -5;
}

/*.average {
	height: 150px;
	background: linear-gradient(to top, #fff, #fb6574);
}*/

.content {
	height: 400px;
}

.ath {
	height: 600px;
}

.author {
	text-align: center;
	font-size: 40px;
	color: #000;
	font-family: Open Sans;
	padding: 50px 0;
}

.inf {
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-family: Open Sans;
	padding-top: 50px;
}

.text {
	font-weight: lighter;
	font-size: 18px;
	color: #000;
	margin-left: 25px;
}

.desc {
	display: flex;
	align-items: center;
}

.img-s {
	width: 250px;
	border-radius: 50%;
	-o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	border: 1px #000 solid;
	-o-border: 1px #000 solid;
    -ms-border: 1px #000 solid;
    -moz-border: 1px #000 solid;
    -webkit-border: 1px #000 solid;
}

.name {
	font-size: 35px;
}

.prel {
	display: flex;
	flex-direction: column;
}

.erv {
	width: 1100px;
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-weight: lighter;
	margin-top: 75px;
}

.erv:nth-child(1) {
	margin-top: 25px;
}

.erv:nth-child(2) {
	width: 1100px;
	display: flex;
	justify-content: space-around;
	color: #fff;
	font-weight: lighter;
}

.stt {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 200px;
}

.last-content {
	width: 100%;
	height: 700px;
}

.last {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	color: #000;
}

.top-c {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
	font-weight: lighter;
	padding: 50px 0;
}

.middle-c {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	font-size: 25px;
	font-weight: lighter;
	padding: 50px 0;
}

.bottom-c {
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
	font-weight: lighter;
	padding: 15px 25px;
	background: #f75858;
	border-radius: 10px;
	-o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

.bottom-c:hover {
	background: #b00000;
}

.footer-content {
	width: 100%;
	height: 100px;
	background: #273e4d;
	color: #fff;
}

.footer {
	height: 100px;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 18px;
}

.last-data {
	width: 100%;
	display: flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: -webkit-box; 
	display: -webkit-flex;
	justify-content: space-around;
}

@media screen and (max-width: 700px) {
	body {
		max-width: 700px;
	}
	.bottom-text {
		display: flex;
		flex-direction: column;
	}
	.tt1 {
		font-size: 18px;
		line-height: 25px;
	}
	.ter {
		width: 350px;
	}
	.content {
		height: 1000px !important;
		margin-top: 725px !important;
	}
	.inf {
		font-size: 30px;
	}
	.erv {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 350px !important;
	}
	.erv:nth-child(2) {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 350px !important;
	}
	.stt {
		margin-top: 15px;
	}
	.ath {
		height: 1150px !important;
	}
	.desc {
		display: flex;
		flex-direction: column;
	}
	.last-content {
		height: 700px !important;
	}
	.author {
		font-size: 30px;
	}
	.img-s {
		margin-top: -25px;
	}
	.top-c {
		font-size: 25px;
		text-align: center;
	}
	.middle-c {
		font-size: 20px;
		text-align: center;
	}
	.footer-content {
		height: 200px;
	}
	.footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 16px;
	}
	.rights {
		margin-top: 50px;
	}
	.last-data {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	.erv {
		margin-top: 0;
	}
}

@media screen and (max-width: 1000px) {
	body {
		max-width: 1000px;
	}
	.ter {
		width: 350px;
	}
	.content {
		height: 1000px;
		margin-top: 400px;
	}
	.inf {
		font-size: 30px;
	}
	.erv {
		width: 700px;
	}
	.erv:nth-child(2) {
		width: 700px;
	}
	.stt {
		margin-top: 15px;
	}
	.ath {
		height: 1150px;
	}
	.author {
		font-size: 30px;
	}
	.img-s {
		margin-top: -25px;
	}
	.top-c {
		font-size: 25px;
		text-align: center;
	}
	.middle-c {
		font-size: 20px;
		text-align: center;
	}
	.footer-content {
		height: 200px;
	}
	.footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 16px;
	}
	.rights {
		margin-top: 50px;
	}
	.last-data {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}
	.erv {
		margin-top: 0;
	}
	.main {
		height: 350px;
	}
	.content {
		height: 400px;
	}
	.ath {
		height: 600px;
	}
	.last-content {
		height: 500px;
	}
	.tt1 {
		font-size: 16px;
	}
	.easy {
		font-size: 14px;
	}
	.btn-add {
		font-size: 14px;
	}
}